<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head
        th:insert="fragments.html :: headerfiles">
    <![endif]-->
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container ">
    <div class="row">
        <article class="col-sm-6">
            <section>
                <img src="https://image.freepik.com/vecteurs-libre/erreur-404-pas-trouve-effet-pepin_8024-5.jpg">
            </section>
        </article>
    </div>
</div>

</body>
</html>