<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:style="http://www.w3.org/1999/xhtml" lang="en">

<head th:fragment="headerfiles">
    <title>Catalogue EILCO</title>
    <meta charset="UTF-8"/>
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet" href="bootstrap.min.css">
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet" href="fontawesome/css/all.css">
</head>

<body>

<div th:fragment="nav">
   <nav class="navbar navbar-expand-lg navbar-light bg-white">
       <div class="d-flex flex-grow-1 align-items-center">
          <a class="navbar-brand d-none d-lg-inline-block" th:href="@{~/}"><img src="https://portail.eilco.fr/logos.PNG" height="50" alt="logo"></a>
       </div>
       <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
           <form class="form-inline" th:action="@{~/search}">
               <div class="input-group">
                   <div class="input-group-prepend">
                       <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                   </div>
                   <input  id="query" class="form-control col-sm-8" placeholder="Rechercher votre Produit..." th:name="query" th:value="${query}" type="text" minlength="4">
               </div>
           </form>
           <ul class="navbar-nav ml-auto flex-nowrap">
               <li class="nav-item">
                   <a class="nav-link m-2 menu-item nav-active" href="#" th:href="@{~/}"><i class="fa fa-home"></i>Accueil</a>
               </li>
               <li class="nav-item">
                   <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link m-2 menu-item" href="#" th:href="@{~/admin/adminhome}"><i class="fas fa-toolbox"></i> Administrateur</a>
               </li>
               <li class="nav-item">
                   <a sec:authorize="hasRole('ROLE_USER')" class="nav-link m-2 menu-item" href="#" th:href="@{~/user/orderHistory}">
                       <i class="fa fa-user" aria-hidden="true"></i> Mes commandes
                   </a>
               </li>
               <li class="nav-item">
                   <a sec:authorize="hasRole('ROLE_USER')" class="nav-link m-2 menu-item" href="#" th:href="@{~/shoppingCart}">
                       <i class="fas fa-shopping-cart"></i> Panier
                   </a>
               </li>
               <li class="nav-item">
                   <a class="nav-link m-2 menu-item" href="#">A propos</a>
               </li>
               <li>
                   <div class="nav-link m-2 menu-item" sec:authorize="isAuthenticated()">Bienvenue <span sec:authentication="name"><strong>Anonymous</strong></span></div>
               </li>
               <li>
                   <div class="nav-link m-2 menu-item">
                       <form form-method="post" th:action="@{/logout}">
                           <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-outline-secondary">Logout</button>
                       </form>
                       <form form-method="post" th:action="@{/login}">
                           <button sec:authorize="isAnonymous()" th:href="@{~/login}" type="submit" class="btn btn-outline-secondary"> Sign in </button>
                       </form>
                   </div>
               </li>
           </ul>
       </div>
   </nav>
</div>

<div th:fragment="footer">
<div class="container ">
    <footer class="pt-4 my-md-5 pt-md-5 border-top " style="background-color: ghostwhite">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2"  src="https://portail.eilco.fr/logos.PNG" alt="" height="28">
            </div>

            <!-- Footer Text -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase font-weight-bold">Développeurs</h5>
                        <p>MOUSTADIF Jawad && IFATSSANE Jaouad</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-6 mb-md-0 mb-3">

                        <!-- Content -->
                        <h5 class="text-uppercase font-weight-bold">Classe</h5>
                        <p>ING 3 - 2020/2021</p>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Text -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#"> eilco.com Calais</a>
            </div>
            <!-- Copyright -->

    </footer>
</div>
</div>
</body>
</html>